<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raftelti.phoneBalance">

    <uses-permission
        android:name="android.permission.SEND_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PhoneBalance"
        android:theme="@style/AppTheme">

        <provider
            android:name=".data.BalanceProvider"
            android:authorities="com.raftelti.phoneBalance" />

        <service
            android:name=".services.UssdReceiverService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AlarmReceiver" />
        <receiver android:name=".receivers.OnSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OutgoingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.WidgetUpdateReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity
            android:name=".ui.main.MainActivity"
            android:label="PhoneBalance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.SettingsActivity" />
        <activity
            android:name=".ui.dialogs.UssdAlertDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about" />
    </application>

</manifest>
